<map name="GraffleExport">
	<area shape=rect coords="374,30,470,122" href="PARKLANE%20NF.html">
	<area shape=rect coords="250,513,370,610" href="Boogie%20Nights.html">
	<area shape=rect coords="344,300,441,405" href="Time%20Burner.html">
	<area shape=rect coords="57,270,160,366" href="Raconteur%20NF.html">
	<area shape=rect coords="46,630,140,727" href="RIOT%20SQUAD.html">
	<area shape=rect coords="1140,430,1282,603" href="reisling.html">
	<area shape=rect coords="460,793,580,919" href="Lane%20Upper.html">
	<area shape=rect coords="653,761,807,940" href="poiret%20one.html">
	<area shape=rect coords="187,630,340,805" href="champagne%20&%20limousines.html">
	<area shape=rect coords="69,820,156,925" href="Time%20Burner.html">
	<area shape=rect coords="238,800,356,922" href="Caviar%20Dreams.html">
	<area shape=rect coords="1000,80,1159,281" href="DOMINIQUE.html">
	<area shape=rect coords="725,350,1100,411" href="channel.html">
	<area shape=rect coords="820,723,930,800" href="channel.html">
	<area shape=rect coords="1318,610,1410,763" href="DOMINIQUE.html">
	<area shape=rect coords="1242,280,1382,408" href="COCKTAIL%20SCRIPT.html">
	<area shape=rect coords="1290,40,1430,174" href="rochester.html">
	<area shape=rect coords="1215,788,1375,930" href="lavanderia.html">
	<area shape=rect coords="910,380,1009,746" href="lavanderia.html">
	<area shape=rect coords="1030,650,1270,837" href="rochester.html">
	<area shape=rect coords="767,40,914,221" href="ROYAL%20CHICKEN.html">
	<area shape=rect coords="970,830,1079,936" href="Apricot.html">
	<area shape=rect coords="462,610,620,731" href="International%20Palms.html">
	<area shape=rect coords="120,174,460,245" href="International%20Palms.html">
	<area shape=rect coords="661,455,818,665" href="Gessele.html">
	<area shape=rect coords="536,139,664,380" href="BELLA%20DONNA.html">
	<area shape=rect coords="393,422,620,610" href="COCKTAIL%20SCRIPT.html">
</map>
<img border=0 src="Canvas%2029.jpg" usemap="#GraffleExport">
